<h1>This dog is: </h1>

<label>Name: </label>
<%=@dog.name%><br>
<label>Breed: </label>
<%=@dog.breed%><br>
<label>Age: </label>
<%=@dog.age%><br>
<label>Employees owned by Dog:</label><br>
<%@dog.employees.each do |employee|%>
  <%=link_to "#{employee.first_name}", employee_path(employee)%><br>
<%end%><br><br>
